<div class="col col s8 offset-s2 lighten-2 charityShowDonateBox">
  <h2>Current Amount: {{ $ctrl.charity.token_amount }}</h2>
  <h2 class="right-align">ready to donate?</h2>
  <div ng-if="$ctrl.currentUser.token_amount > 0">
    <button ng-click="$ctrl.decrementToken()"> - </button>
    <p>{{ $ctrl.tokenAmount }}</p>
    <button ng-click="$ctrl.incrementToken($ctrl.charity)"> + </button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.donate($ctrl.charity.ein, $ctrl.tokenAmount)">Donate</button>
  </div>					
</div>