<button class="btn blue" data-target="modal-{{$ctrl.charity.ein}}" ng-if="$ctrl.currentUser.token_amount > 0">Donate</button>
<stripe-form ng-if="$ctrl.currentUser.token_amount === 0"></stripe-form>

<div id="modal-{{$ctrl.charity.ein}}" class="modal">
  <div class="modal-content">
    <h3 class="center-align">You Have {{ $ctrl.currentUser.token_amount }} Tokens</h3>
    <h4 class="center-align">Donate How Many?</h4>
    <h1 class="center-align">{{ $ctrl.tokenAmount }}</h1>
    <div class="modal-button-container center">
      <a ng-click="$ctrl.decrementToken()" class="btn red">-</a>
      <a class="btn blue modal-close" ng-click="$ctrl.donate($ctrl.charity.ein, $ctrl.tokenAmount)">Donate!</a>
      <a ng-click="$ctrl.incrementToken($ctrl.charity)" class="btn green">+</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.modal').modal();
    }, 500);
  });
</script>