<div class="charityShowBanner indigo accent-1">
	<div class="row donationParent" style="padding-top: 5%;">
		<div class="col col s8 charityShowInfo">
			<h2 class="flow-text"><strong>{{ $ctrl.charity.charityName}}</strong></h2>
			<h4 class="flow-text">{{ $ctrl.charity.city }}, {{ $ctrl.charity.state }} {{ $ctrl.charity.zip_code }}</h4>
			<h6>{{ $ctrl.charity.category }}</h6>
			<p ng-if="$ctrl.charity.mission_statement">{{ $ctrl.charity.mission_statement }}</p>
			<p></p>
			<a ng-href="{{ $ctrl.charity.url }}" target="_blank" class="websiteLink">Website</a>
		</div>
		<donations charity="$ctrl.charity"></donations>
	</div>
</div>

<div class="row" ng-if="$ctrl.charity.created_at">
	<h2>New Comment:</h2>
	<form ng-submit="$ctrl.createComment()" class="col s8 offset-s2">
		<div class="input-field">
			<input type="text" id="title" ng-model="$ctrl.newComment.title" required>
			<label for="title">title</label>
		</div>
		<div class="input-field">
			<textarea id="content" class="materialize-textarea" ng-model="$ctrl.newComment.content" required></textarea>
			<label for="content">content</label>
		</div>
		<div class="input-field">
			<input type="submit" value="Add New Comment" class="btn waves-effect waves-light">
		</div>
	</form>
</div>

<div class="row" ng-if="$ctrl.charity.created_at">
	<h1>COMMENTS</h1>
	<div class="card col s12 m10 l8 offset-m1 offset-l2" ng-if="$ctrl.newComment.title || $ctrl.newComment.content" style="height: auto;">
		<div class="card-content">
			<span class="card-title">{{ $ctrl.newComment.title }}</span>
			<p>{{ $ctrl.newComment.content }}</p>
		</div>
	</div>
	<div class="card col s12 m10 l8 offset-m1 offset-l2" ng-repeat="comment in $ctrl.comments | orderBy: 'created_at':true" style="height: auto;">
		<div class="card-content">
			<span class="card-title">{{ comment.title }}</span>
			<p>{{ comment.content }}</p>
		</div>
		<div class="card-action" ng-if="comment.user_id == $ctrl.currentUser.id">
			<div ng-if="$ctrl.editedComment.id != comment.id">
				<a href="#" ng-click="$ctrl.editComment(comment)"><i class="small material-icons">mode_edit</i>Edit</a>
				<a href="#" ng-click="$ctrl.deleteComment(comment.id)"><i class="small material-icons">mode_delete</i>Delete</a>
			</div>
			<div ng-if="$ctrl.editedComment.id === comment.id">
				<form ng-submit="$ctrl.updateComment()">
					<div class="input-field">
						<input type="text" id=`editTitle-${comment.id}` ng-model="$ctrl.editedComment.title" required>
						<label class="active" for=`editTitle-${comment.id}`>title</label>
					</div>
					<div class="input-field">
						<textarea id=`editContent-${comment.id}` class="materialize-textarea" ng-model="$ctrl.editedComment.content" required></textarea>
						<label class="active" for=`editContent-${comment.id}`>content</label>
					</div>
					<div class="input-field">
						<input type="submit" value="Save Comment" class="btn waves-effect waves-light">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>