<!-- <div class="parallax-container">
	<div class="parallax">
		<div class="charityIndexBanner blue lighten-2">
			<h1>Charities Index</h1>
		</div>
	</div>
</div> -->

<div class="parallax-container">
  <div class="parallax"><img src="http://www.hdwallpapers.in/walls/flowers_high_resolution-wide.jpg"></div>
</div>



<div class="section white">
	<div class="row">
		<form ng-submit="$ctrl.searchByName()" class="col s12 m4 offset-m1">
			<div class="input-field">
				<input ng-model="$ctrl.query" id="search" class="searchByName" type="search" placeholder="search by name" required>
				<label class="label-icon" for="search"><i class="material-icons" ng-class="">search</i></label>
				<i class="material-icons">close</i>
			</div>
			<div class="input-field">
				<input type="submit" value="Search Names" class="btn waves-effect waves-light">
			</div>
		</form>
		<form class="col s12 m4 offset-m2"  ng-submit="$ctrl.searchByCategory()">
			<div class="input-field">
				<select ng-model="$ctrl.categoryQuery" required>
					<option value="" selected disabled>search by category</option>
					<option value="A">Arts, Culture and Humanities</option>
					<option value="B">Educational Institutions and Related Activities</option>
					<option value="C">Environmental Quality, Protection and Beautification</option>
					<option value="D">Animal-Related</option>
					<option value="E">Health - General and Rehabilitative</option>
					<option value="F">Mental Health, Crisis Intervention</option>
					<option value="G">Diseases, Disorders, Medical Disciplines</option>
					<option value="H">Medical Research</option>
					<option value="I">Crime, Legal-Related</option>
					<option value="J">Employment, Job-Related</option>
					<option value="K">Food, Agriculture and Nutrition</option>
					<option value="L">Housing, Shelter</option>
					<option value="M">Public Safety, Disaster Preparedness and Relief</option>
					<option value="N">Recreation, Sports, Leisure, Athletics</option>
					<option value="O">Youth Development</option>
					<option value="P">Human Services - Multipurpose and Other</option>
					<option value="Q">International, Foreign Affairs and National Security</option>
					<option value="R">Civil Rights, Social Action, Advocacy</option>
					<option value="S">Community Improvement, Capacity Building</option>
					<option value="T">Philanthropy, Voluntarism and Grantmaking Foundations</option>
					<option value="U">Science and Technology Research Institutes, Services</option>
					<option value="V">Social Science Research Institutes, Services</option>
					<option value="W">Public, Society Benefit - Multipurpose and Other</option>
					<option value="X">Religion-Related, Spiritual Development</option>
					<option value="Y">Mutual/Membership Benefit Organizations, Other</option>
				</select>
			</div>
			<div class="input-field">
				<input type="submit" value="Search Categories" class="btn waves-effect waves-light">
			</div>
		</form>
	</div>

	<!-- suggested -->
	<div class="row" ng-if="$ctrl.suggested">
		<h1>Suggested Results: </h1>
		<div ng-repeat="charity in $ctrl.suggested">
			<div class="col s12 m6">
			  	<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator red lighten-2" src="">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">
				      	<h3>
				      		<a ui-sref="charitiesShow({ ein: charity.ein })">
				      			<h5>{{ charity.charityName }}</h5>
				      			<h6>
				      				{{ charity.city }}, {{ charity.state }} {{ charity.zip_code }}
				      			</h6>
				      		</a>
				      	</h3>
				      	<i class="material-icons right">more_vert</i>
				      </span>
				    </div>
				    <div class="card-reveal">
						<span class="card-title grey-text text-darken-4">
							<h4>Mission Statement</h4>
							<i class="material-icons right">
								close
							</i>
						</span>
						<p ng-if="charity.missionStatement">{{ charity.missionStatement }}</p>
						<p ng-if="charity.website">
							<a ng-href="http://{{ charity.website }}" target="_blank" class="websiteLink">Website</a>
						</p>
						<p ng-if="!charity.website">
							<a ng-href="{{ charity.url }}" target="_blank" class="websiteLink">Website</a>
						</p>
						<span>
							Catagories:
						</span>
						<br>
						<span><h6 ng-if="charity.category != 'Not Provided'"><strong>{{ charity.category }}</strong></h6></span>
				    </div>
				</div>
			</div>
		</div>
		<hr class="col s12">
	</div>

	<!-- Charity Cards -->

	<div class="row">
		<h1 ng-if="$ctrl.suggested">All Results: </h1>
		<div ng-repeat="charity in $ctrl.charities">
			<div class="col s12 m6">
			  	<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator red lighten-2" src="">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">
				      	<h3>
				      		<a ui-sref="charitiesShow({ ein: charity.ein })">
				      			<h5>{{ charity.charityName }}</h5>
				      			<h6>
				      				{{ charity.city }}, {{ charity.state }} {{ charity.zip_code }}
				      			</h6>
				      		</a>
				      	</h3>
				      	<i class="material-icons right">more_vert</i>
				      </span>
				    </div>
				    <div class="card-reveal">
						<span class="card-title grey-text text-darken-4">
							<h4>Mission Statement</h4>
							<i class="material-icons right">
								close
							</i>
						</span>
						<p ng-if="charity.missionStatement">{{ charity.missionStatement }}</p>
						<p ng-if="charity.website">
							<a ng-href="http://{{ charity.website }}" target="_blank" class="websiteLink">Website</a>
						</p>
						<p ng-if="!charity.website">
							<a ng-href="{{ charity.url }}" target="_blank" class="websiteLink">Website</a>
						</p>
						<span>
							Catagories:
						</span>
						<br>
						<span><h6 ng-if="charity.category != 'Not Provided'"><strong>{{ charity.category }}</strong></h6></span>
				    </div>
				</div>

			</div>
		</div>
	</div>
</div>
<script>
	$( document ).ready(function() {
      $('select').material_select();
    });
	$(document).ready(function(){
	  $('.parallax').parallax();
	});
	    
</script>
