/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_tree ../javascripts/components/
 */

  @import "materialize/components/color";
  $primary-color: color("blue", "lighten-2") !default;
  $secondary-color: color("red", "lighten-2") !default;
  @import 'materialize';
  @import "https://fonts.googleapis.com/icon?family=Material+Icons";
  @import "materialize/extras/nouislider";


html {
	height: 100vh;
	align-content: center;
	margin: 0 auto;
	font-family: avenir;
	letter-spacing: 0.1em;
}

.notice,
.alert {
	margin: 0px;
}

.btn {
	max-width: 100%;
	text-align: center;
}

.websiteLink {
	text-decoration: underline;
	color: black;
}

.wrapper {
	margin: 0 auto;

}

.nav-wrapper {
	padding: 0px 25px;
}

.col .s12 {
	padding: 0px;
}

.col {
	text-align: center;
}

.clientView {
	margin-bottom: 0px;
}

.deviseForm {
	background-color: white;
	max-width: 100%;
	width: 400px;
	margin: 0 auto;
}
.z-depth-2 {
	margin: 0px 10px;
	padding: 10px;
}

/*Page banners*/
.charityIndexBanner {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.charityShowBanner {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.charityShowInfo,
.charityShowDonateBox {
	text-align: left;
}

.infoWrapper {
	color: white;
}

.clientView .infoWrapper {
	padding: 0px;
}

.card {
	height: 250px;
	margin: 15px;
}
.card-content,
.card-reveal {
	text-align: left;
}

  $green: 256;
  $red: 256;

  .flash {
    &.notice {
      background: $green;
    }
    &.alert {
      background: $red;
    }
  }

  .loading {
    height: 500px;
    width: 600px;
  }

